
a,
a:focus,
a:hover {
    color: #0edc39;
}


.btn-default,
.btn-default:hover,
.btn-default:focus {
    color: #333;
    text-shadow: none;
    background-color: #fff;
    border: 1px solid #fff;
}


p {
    color: white;
}

html,
body {
    height: 100%;
    background-color: #fff;
}
body {
    color: #00dbf7;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

body table {
    text-shadow: none !important;

}
.site-wrapper {
    display: table;
    width: 100%;
    height: 600px;
    background-color: #333;

}
.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}
.cover-container {
    margin-right: auto;
    margin-left: auto;
}


.inner {
    padding: 30px;
}


.masthead-brand {
    margin-top: 10px;
    margin-bottom: 10px;
}

.masthead-nav > li {
    display: inline-block;
}
.masthead-nav > li + li {
    margin-left: 20px;
}
.masthead-nav > li > a {
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    font-weight: bold;
    color: rgba(255,255,255,.75);
    border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
    background-color: transparent;
    border-bottom-color: #a9a9a9;
    border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
    color: #fff;
    border-bottom-color: #fff;
}

@media (min-width: 768px) {
    .masthead-brand {
        float: left;
    }
    .masthead-nav {
        float: right;
    }
}




.cover {
    padding: 0 20px;
}
.cover .btn-lg {
    padding: 10px 20px;
    font-weight: bold;
}


@media (min-width: 768px) {

    .masthead {
        position: fixed;
        top: 0;
    }

    .site-wrapper-inner {
        vertical-align: middle;
    }

}
iframe {
    float:none;

}
/*switch css */
.form-switch.form-switch-lg .form-check-input {
    height: 1.5rem;
    width: calc(1rem + 2.25rem);
    border-radius: 4rem;

}

.form-switch.form-switch-xl {
    margin-bottom: 2rem; /* JUST FOR STYLING PURPOSE */
}

.paginate div{
    margin: 10px;
}
 .employee-form, label{
    color: #000 !important;
     text-align: left !important;
     text-shadow:none !important;
     margin: 5px !important;
}


footer{
    background: #f8f9fa;
}
